[flake8]
exclude = .git,.tox,__pycache__,.eggs,build,xoa_driver/internals/core/commands/__init__.py
max-line-length = 180
ignore =
    # E265 block comment should start with '# '
    E265,
    # E266 too many leading '#' for block comment
    E266,
    # F405 usage attribute from * import
    F405,
doctests = true
