**/__pycache__/**
**/.vscode
**/.vs/**
**/.idea/**
**/.DS_Store/**
**/._.DS_Store/**
**/.mypy_cache
**/.mytest_cache
**/.pytest_cache
**/*env
**/*.egg-info
**/build
**/dist
*.pyc
*.log
*.prof
**/.DS_Store
playground.py